@model IEnumerable<TahirMvc123.Models.Role>
@{
    ViewData["Title"] = "CreateR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateR</h1>

<div class="row">

    <div class="col-md-3 col-lg-3 col-sm-4">
        <span>User</span>   @Html.DropDownList("UserId", (IEnumerable <SelectListItem>)ViewBag.users , new  {@class="form-control" })
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-1 col-lg-1 col-sm-1">
            @Html.DisplayFor(modelItem => item.Name , new  { })
        </div>
        <div class="col-md-1 col-lg-1 col-sm-1">
            @*@Html.CheckBox("gg", new { @class = "fff", @Value = item.Id })*@
            <input type="checkbox" value="@item.Id" class="cb" />
        </div>
    }
</div>



<div class="row">

</div>
<br />


<button id="btnCreate" class="btn btn-secondary btn-sm">Submit</button>

<script>
    $(document).ready(function () {
      debugger;
         var Message = '@ViewBag.msg';
        var msgType = '@ViewBag.type';
        var Viewpath = "";
        if (Message.length > 0) {
            AlertMessage(Message, msgType, Viewpath);
        }
        
    });
    debugger;

    $("#btnCreate").click(function () {
        var arrayToList = [];
        $("input:checkbox:checked").each((ind, item) => {
            //console.log(ind, item);
            arrayToList.push(+item.value);
        });
        var userid = $("#UserId").val();
        //console.log(arrayToList);

        $.ajax({
            data: { roles: arrayToList, userid:userid},
            method: "POST",
            url: "AssignRoles",
            success: function (result) {
                 
            },
            error: function () {

            }
        });
    });
     function AlertMessage(Message, Messagetype, Viewpath) {

        if (Messagetype == '1') {
            swal({
                title: "Congratulations!",
                text: Message,
                type: "success"
            },
            function () {
                location.href = Viewpath;
            }
            );
        }
        else {
            swal(
                "Oops!",
               Message,
               "error"
                );
        }
    }
</script>